/*
 * http://ipafont.ipa.go.jp/ipa_font_license_v1.html
 */
@font-face {
  font-family: 'Hannari';
  src: url('https://cdn.leafscape.be/hannari/hannari_web.woff2') format('woff2');
}

.wf-hannari {
  font-family: 'Hannari', serif;
}
